[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = {extras = ["voice"], git = "https://github.com/Rapptz/discord.py"}
captcha = "*"
cryptocode = "*"
python-levenshtein-wheels = "*"
sqlalchemy = "*"
python-dotenv = "*"
sentry-sdk = "*"
discord-ext-ui = "*"
alembic = "*"
aiomysql = "*"
pyppeteer = "*"
aiofile = "*"
youtube-dl = "*"
mecab-python3 = "*"
pydub = "*"
flake8 = "*"
autopep8 = "*"
pywatcher = "*"
pandas = "*"
google-api-python-client = "==1.9.3"
jishaku = {git = "https://github.com/Gorialis/jishaku.git"}

[dev-packages]
alembic = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
